<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>User</title>
    <link href="/userRead.css" type="text/css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/38d88a400f.js" crossorigin="anonymous"></script>
</head>
<header>
    <p>User</p>
</header>

<body>

<main class="personalInfo">
    <h2>
        Personal Information
    </h2>
    <form th:action="@{/users/{userId}/update(userId=${user.userId})}" method="post">
        <div>
            Username: <input type="text" th:field="${user.username}"/>
        </div>
        <div>
            Password: <input type="password" th:field="${user.password}"/>
        </div>
        <div>
            Full Name: <input type="text" th:field="${user.name}"/>
        </div>
        <div>
            <hr/>
        </div>
        <div>
            Address Line 1: <input type="text" th:field="${user.address.addressLine1}"/>
        </div>
        <div>
            Address Line 2: <input type="text" th:field="${user.address.addressLine2}"/>
        </div>
        <div>
            City: <input type="text" th:field="${user.address.city}"/>
        </div>
        <div>
            Region: <input type="text" th:field="${user.address.region}"/>
        </div>
        <div>
            Country: <input type="text" th:field="${user.address.country}"/>
        </div>
        <div>
            Zip Code: <input type="text" th:field="${user.address.zipCode}"/>
        </div>
        <div>
            <br>
        </div>
        <div id="updateUser">
            <input type="submit" value="Update User"/>
        </div>
    </form>
    <form id="deleteUser" th:action="@{/users/{userId}/delete(userId=${user.userId})}" method="post">
        <div>
            <input type="submit" value="Delete User"/>
        </div>
    </form>
    <div>
        <br>
        <hr/>
    </div>
    <h2>
        Accounts
    </h2>
    <div class="accountDiv" th:each="account : ${accounts}" th:if="${account.accountName != ''}">
        <span> <a id="accountInfo"
                th:href="@{/users/{userId}/account/{accountId}(userId=${user.userId}, accountId=${account.accountId})}">[[${account.accountName}]]</a></span>
        <br>
    </div>
    <div class="newAccountDiv">
        <br>
        <a id="newBankAccount" th:href="@{/users/{userId}/account(userId=${user.userId})}">
            <button type="submit">
                <i class="fa-solid fa-circle-plus fa-md" style="color: white;"></i> Open New Account
            </button>
        </a>

    </div>
    <div>
        <br>
        <a id="back" th:href="@{/users}" th:if="${userId != null}">
            <button>Back</button>
        </a>
    </div>

</main>

</body>
</html>

